.vscode/

node_modules/

dist/

__pycache__/
.venv/
*.pyc

publish/
obj/
bin/

target

*.log
*.tmp

!voyagevibes-corp-realm.json.tmp
!voyagevibes-public-realm.json.tmp

tmp/
google-oauth.json
rzp-key.csv

.env.*
.env
voyagevibes-corp-realm.json
voyagevibes-public-realm.json

out
go.sum