POSTGRESQL_USER=postgres
POSTGRESQL_PASSWORD=postgres
POSTGRESQL_DATABASE=postgres
KONG_DATABASE=postgres
KONG_PG_HOST=platform-postgres
KONG_PG_PORT=5432
KONG_PG_DATABASE=kong
KONG_PG_USER=kong
KONG_PG_PASSWORD=kongpass123
KONG_PROXY_LISTEN=0.0.0.0:8000,0.0.0.0:8443 ssl
KONG_ADMIN_LISTEN=0.0.0.0:8001
KONG_SSL_CERT=/etc/kong/certs/gateway.voyagevibes.in.crt.pem
KONG_SSL_CERT_KEY=/etc/kong/certs/gateway.voyagevibes.in.key.pem
