KEYCLOAK_URL=https://keycloak.voyagevibes.in:8091
KEYCLOAK_PUBLIC_URL=https://keycloak.voyagevibes.in:8091
KEYCLOAK_REALM=flight-booking
KEYCLOAK_CLIENT_ID=flight-auth-service
KEYCLOAK_CLIENT_SECRET=PublicApiSecret123$
KEYCLOAK_ADMIN_CLIENT_ID=flight-auth-admin
KEYCLOAK_ADMIN_CLIENT_SECRET=CorpWebSecret123$
KEYCLOAK_DEFAULT_REDIRECT_URI=https://localhost:9001/auth/callback
DB_URL=jdbc:postgresql://platform-postgres:5432/authdb?sslmode=disable
DB_USERNAME=authservice
DB_PASSWORD=authservice
DB_DRIVER_CLASS_NAME=org.postgresql.Driver
